<div class="row p-2">
    <div class="col-4">
        <span>Godina studija</span>
    </div>
    <div class="col-2">
        <p-inputNumber  [showButtons]="true" inputId="stacked" [min]="1" [max]="7"> </p-inputNumber>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Ciklus</span>
    </div>
    <div class="col-2">
        <p-inputNumber  [showButtons]="true" inputId="stacked" [min]="1" [max]="2"> </p-inputNumber>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Uspjeh u prethodnoj godini</span>
    </div>
    <div class="col-2">
        <p-inputNumber  mode="decimal" [minFractionDigits]="2" [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="10"> </p-inputNumber>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Broj članova domaćinstva</span>
    </div>
    <div class="col-2">
        <p-inputNumber  [showButtons]="true" inputId="stacked" [min]="0" [max]="20"> </p-inputNumber>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Broj studenata iz domaćinstva</span>
    </div>
    <div class="col-2">
        <p-inputNumber  [showButtons]="true" inputId="stacked" [min]="0" [max]="20"> </p-inputNumber>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Broj učenika u osnovnoj ili srednoj školi iz domaćinstva</span>
    </div>
    <div class="col-2">
        <p-inputNumber  [showButtons]="true" inputId="stacked" [min]="0" [max]="20"> </p-inputNumber>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Mjesečni prihod domaćinstva</span>
    </div>
    <div class="col-2">
        <p-inputNumber  [showButtons]="true" inputId="stacked" [min]="0" [max]="20"> </p-inputNumber>
    </div>
</div>
