<div class="row p-2">
    <div class="col-4">
        <span>Ime</span>
    </div>
    <div class="col-2">
        <input type="text" pInputText formControlName="text"/>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Prezime</span>
    </div>
    <div class="col-2">
        <input type="text" pInputText formControlName="text"/>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Univerzitet</span>
    </div>
    <div class="col-2">
        <input type="text" pInputText formControlName="text"/>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Fakultet</span>
    </div>
    <div class="col-2">
        <input type="text" pInputText formControlName="text"/>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Prijava koja se ne boduje</span>
    </div>
    <div class="col-2">
        <p-inputSwitch formControlName="checked"></p-inputSwitch>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Deficitarno zanimanje</span>
    </div>
    <div class="col-2">
        <p-inputSwitch formControlName="checked"></p-inputSwitch>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Invalidnost roditelja</span>
    </div>
    <div class="col-2">
        <p-inputSwitch formControlName="checked"></p-inputSwitch>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Bolest članova porodice bez rješenja o invalidnosti</span>
    </div>
    <div class="col-2">
        <p-inputSwitch formControlName="checked"></p-inputSwitch>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Student bez jednog roditelja</span>
    </div>
    <div class="col-2">
        <p-inputSwitch formControlName="checked"></p-inputSwitch>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Student neutvrđenog očinstva</span>
    </div>
    <div class="col-2">
        <p-inputSwitch formControlName="checked"></p-inputSwitch>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">
        <span>Student rastavljenih roditelja ili student samohranog roditelja</span>
    </div>
    <div class="col-2">
        <p-inputSwitch formControlName="checked"></p-inputSwitch>
    </div>
</div>