
<div class="container-fluid">
    <div class="container">
        <div class="row">
          <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Unos studenata</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Definisanje ktriterija</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" tabindex="-1">Rang lista</a>
                </li>
              </ul>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <app-home></app-home>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <app-unos-studenta></app-unos-studenta>
            </div>
            <div class="col">
                <app-unos-kriterija></app-unos-kriterija>
              </div>
          </div>
      </div>
  </div>
<router-outlet></router-outlet>
<p-button label="Submit"></p-button>