
<div class="container-fluid">
    <div class="container">
        <div class="row">
          <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" routerLink="home" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"  routerLink="unos-studenata">Unos studenata</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"  routerLink="kriteriji">Definisanje kriterija</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" tabindex="-1">Rang lista</a>
                </li>
              </ul>
          </div>
        </div>
          <div class="row">
            <div class="col">
              <router-outlet></router-outlet>
                <!-- <app-unos-studenta></app-unos-studenta>
                <app-kriteriji-weight></app-kriteriji-weight> -->
          </div>
      </div>
  </div>

