
<p-panel header="Višekriterijumsko odlučivanje">
    <p>
        Višekriterijsko odlučivanje je proces donošenja odluka u kojem se uzimaju u obzir različiti kriterijumi, a cilj je pronaći najbolje rješenje. U ovom slučaju, aplikacija za rangiranje studenata za stipendiju omogućava unos različitih kriterijuma (npr. ocjene, dodatne aktivnosti, finansijska situacija) i računa ukupne vrijednosti za svakog studenta.
    </p>
</p-panel>
<p-panel header="Detaljno objašnjenje pogledati u radu ispod">
    <div class="d-flex justify-content-center">
<pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              style="width: 100%; height: 800px"
  ></pdf-viewer>
</div>
</p-panel>

